<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
 
 <%- messages() %>

 <% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
 
 <div class="login">
    <form id="loginForm" action="/account/login" method="post">
      <p class="inputFieldInfo">Field is required.</p>
      <div class="inputField">
        <label for="emailLogin">Email</label>
        <input type="email" name="account_email" id="emailLogin" required placeholder="Enter a valid email address" value="<%= locals.account_email %>"/>
      </div>
      <div class="inputField">
        <label for="passwordLogin">Password</label>
        <input type="password" name="account_password" id="passwordLogin" required placeholder="Enter your password"
        pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"/>
      </div>
      <button type="submit">Login</button>
    </form>
    <div class="formLink">
      <p>No account? <a href="/account/register">Sign-up</a></p>
    </div>
  </div>