<h1>Welcome to CSE Motors!</h1>
<%- messages() %>
<section>
  <div>
    <h2>DMC Delorean</h2>
    <p>3 Cup holders</p>
    <p>Superman doors</p>
    <p>Fuzzy dice!</p>
      <button>Own Today</button>
  </div>
</section>

<article>
  <div class="upgradeSection">
    <h2>Delorean Upgrades</h2>
    <div class="parts">
      <div>
        <div> <img src="/images/upgrades/flux-cap.png" alt="" ></div>
        <a href="" target="_self">Flux Capacitor</a>
      </div>
      <div>
        <div><img src="/images/upgrades/flame.jpg" alt="" ></div>
        <a href="" target="_self">Flame Decals</a>
      </div>
      <div>
        <div><img src="/images/upgrades/bumper_sticker.jpg" alt="" ></div>
        <a href="" target="_self">Bumper Stickers</a>
      </div>
      <div>
        <div><img src="/images/upgrades/hub-cap.jpg" alt="" ></div>
        <a href="" target="_self">Hub Caps</a>
      </div>
    </div>
  </div>

  <div class="reviews">
    <h2>DMC Delorean Reviews</h2>
    <nav>
      <ul>
        <li>"So fast it's almost like traveling in time." (4/5)</li>
        <li>"Coolest ride on the road." (4/5)</li>
        <li>"I'm feeling McFly!" (5/5)</li>
        <li>"The most futuristic ride of our day" (4.5/5)</li>
        <li>"80's livin and I love it!" (5/5)</li>
      </ul>
    </nav>
  </div>
</article>