@import url("https://fonts.googleapis.com/css?family=Cinzel");
@import url("https://fonts.googleapis.com/css?family=Fauna+One");

/* General */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: none;
}

h1,
.homePage{
  font-family: 'Cinzel', serif;
}

h2,
a,
p,
label,
::placeholder,
.notice {
  font-family: 'Fauna One', serif;
}

#wrapper {
  border: none;
  background: #fff;
  border-radius: 0.5rem;
  padding: 0.25rem 0rem;
  width: 100%;
}

/* Header */
#top-header {
  margin: 1rem 0rem;
  display: flex;
  justify-content: space-between;
}

.siteName a {
  font-size: 2rem;
  text-decoration: none;
  color: black;
  font-weight: 500;
}

#tools a {
  font-size: 0.9rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

.navHead ul {
  list-style-type: none;
  font-size: 1rem;
  padding: 0.5rem 0rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-inline-start: 0;
  font-family: 'Cinzel', serif;
  background: #EDC7B7;
}

/* Body */
main > h1 {
  font-weight: 700;
}

section {
  background-image: url("/images/vehicles/delorean.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  height: 260px;
  display: flex;
  align-items: center;
}

section > div {
  background: rgba(255, 255, 255, 0.8);
  padding: 0.75rem;
  width: max-content;
  margin-left: 5%;
}

section > div h2 {
  font-family: 'Fauna One', serif;
  font-weight: 500;
  margin-top: 0rem;
  margin-bottom: 0.25rem;
}

section > div p {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0;
}

section > div p:last-child {
  margin-bottom: 0.25rem;
}

article {
  display: grid;
  grid-template-areas:
    "reviews"
    "upgrades";
  gap: 0.5rem;
}

.upgradeSection {
  grid-area: upgrades;
}

.reviews {
  grid-area: reviews;
}

.parts {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
}

.parts > div {
  height: 100%;
  text-align: center;
}

.parts > div > div {
  background: #EDC7B7;
  padding: 0.25rem;
  border: 1px solid #262626;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  max-height: 75px;
}

.parts img {
  max-width: 65px;
  width: auto;
  max-height: 65px;
  height: auto;
}

.parts a {
  font-size: 0.9rem;
  color: black;
  text-decoration: none;
}

.reviews nav ul {
  padding-inline-start: 20px;
}

.reviews nav ul li {
  color: #262626;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

button {
  background: #EDC7B7;
  width: 100%;
  margin: 0.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 1rem;
  border-color: rgba(255, 255, 255, 0.5);
  font-family: 'Cinzel', serif;
  font-size: 1rem;
  font-weight: 500;
}
/* Footer */
footer {
  margin: 1rem 0;
}

.copyright {
  font-size: 0.8rem;
  color: black;
  margin: 0;
  text-decoration: none;
}

/* Cars View */
#inv-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#inv-display li {
  text-align: center;
  list-style-type: none;
  border: 1px solid #EDC7B7;
  border-radius: 1rem;
}

#inv-display hr {
  height: 5px;
  background: #EDC7B7;
}

.vehicleSection {
  text-align: center;
  padding: 0 0.5rem 0.5rem;
}

.vehicleSection h2 {
  margin: 0 0 0.5rem;
  font-family: 'Fauna One', serif;
}

.vehicleSection h2 a {
  color: black;
}

.vehicleSection span {
  font-size: 1.5rem;
  font-weight: 500;
}

/* Cars Details */
.vehicleContainer {
  display: block;
}

.vehicleContainer div:first-child {
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.vehicleContainer div:first-child > img {
  width: 100%;
  border-radius: 1rem;
}

.vehicleContainer div:last-child p {

  padding: 0.5rem 0.75rem;
  margin: 0.5rem 0;
  background: #EDC7B7;
  border-radius: 1rem;
}

.vehicleContainer div:last-child p:first-child {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Login and Register */
.inputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  font-size: 1rem;
}

.inputField input, textarea {
  padding: 0.35rem;
  border-radius: 0.25rem;
  outline-color: black;
  border: 1px solid black;
}

.inputField input:focus:invalid {
  background: #EDC7B7;
}

.inputFieldInfo:first-child {
  margin-left: 0;
  margin-right: 0;
}

.inputFieldInfo {
  font-size: 0.85rem;
  font-style: italic;
  margin: 0.5rem;
  font-weight: 500;
}

/* Login View */
.login{
  max-width: 300px;
  padding: 1rem;
  border: 1px solid black;
  background: #EDC7B7;
  border-radius: 0.75rem;
  margin: auto;
}

.formLink {
  font-size: 1rem;
}

.formLink a {
  color: black;
}

/* Register View */
.register {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.register .updateInfo h2 {
  margin: 0;
}

.register{
  max-width: 300px;
  padding: 1rem;
  border: 1px solid black;
  background: #EDC7B7;
  border-radius: 0.75rem;
  margin: auto;
}

/* Management View */
.management p {
  font-size: 1rem;
  margin: 0;
}

/* Add Classification View */
.addClassification .inputField {
  margin-bottom: 0;
}

@media screen and (min-width: 900px) {
  body {
    background-image: url("/images/site/checkerboard.jpg");
    background-repeat: repeat;
  }

  #wrapper {
    border: 4px solid #EDC7B7;
    padding: 0rem 0.5rem;
    width: 60%;
    margin: auto;
  }

  article {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: none;
    grid-gap: 1rem;
    grid-template-areas: none;
  }

  .upgradeSection {
    grid-area: auto;
  }

  .reviews {
    grid-area: auto;
  }

  /* Cars View */
  .vehicleContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .vehicleContainer div:first-child > img {
    margin-bottom: 0rem;
  }
}